
table.cron-schedule {
    border-spacing: 0;
    border-collapse: collapse;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

table.cron-schedule th {
    background-color: #ECECEC;
    text-align: center;
    font-weight: bold;
}

table.cron-schedule th, table.cron-schedule td {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 2px;
}

table.cron-schedule tr.even-row {
    background-color: #F3F3F3;
}

table.cron-schedule th.day {
    width: 8em;
}

table.cron-schedule td.day {
    text-align: center;
}

table.cron-schedule td.cron-not-allowed {
}

table.cron-schedule input[type="radio"] {
    height: 50%;
    width: 50%;
    font-size: 50%;
}
